@page
@model MiAppWeb.Pages.UserModel
@{
    ViewData["Title"] = "User";
}
<h2>User Details</h2>
<div>
    <p><strong>Id:</strong> @Model.User.Id</p>
    <p><strong>Name:</strong> @Model.User.Name</p>
    <p><strong>Username:</strong> @Model.User.Username</p>
    <p><strong>Email:</strong> @Model.User.Email</p>
</div>