@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Inicio - Portafolio Personal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        <section id="introduccion">
            <h1>Bienvenido a mi Portafolio</h1>
            <p>Hola soy Anthony Fabian Duarte Mora, un estudiante apasionado por la tecnología y el desarrollo de software. A través de este portafolio, me gustaría mostrar los proyectos en los que he trabajado, así como las habilidades que he adquirido a lo largo de mi formación académica y personal.</p>
        </section>

        <section id="objetivos">
            <h2>Mis Objetivos Profesionales</h2>
            <p>Mi objetivo es convertirme en un desarrollador de software especializado estoy en constante aprendizaje y busco oportunidades para aplicar mis conocimientos en proyectos reales que puedan tener un impacto positivo.</p>
        </section>
    </main>
</body>
</html>
